<div class="container" align="center">
    <div class="row">
        <div class="col-sm-12 mt-5 ">
            <button class="btn btn-primary  mb-5" ng-click="totalHours()">
                Get total working hours
            </button>
            <button class="btn btn-primary mb-5" ng-click="userBetween()">
                Users between dates
            </button>
        </div>
    </div>
    <div class=" margen mt-3" ng-if="horas" align="center">
        <form ng-submit="buscarHoras()" align="center" >
            <div class="form-group">
              <label for="is">IS: </label>
              <input type="text" ng-model="student.is" class="form-control" id="is" placeholder="RSLM" required>
            </div>
            <div class="form-group">
                <label for="fecha">Fecha: </label>
                <input type="number" ng-model="student.fecha" min="01" max="12" value="01" class="form-control" id="fecha"
                required>
            </div>
            <button type="submit"  class="btn btn-primary">Search</button>
          </form>
        
    </div>
    <div class="col-sm-12 mt-5 mb-5" ng-if="resHoras">
        <h1>Total de horas del IS: {{student.is}}</h1>
        <h2> 
            {{horasTotales}}
        </h2>
    </div>


    <div class="margen mt-3" ng-if="between">
        <form ng-submit="buscarRegistros()" >
            <div class="form-group">
              <label for="is">IS: </label>
              <input type="text" class="form-control" id="is" placeholder="RSLM" id="is" required>
            </div>
            <div class="form-group">
                <label for="fecha">Fecha Inicial: </label>
                <input type="date"  class="form-control" id="fechaIn"
                required>
            </div>
            <div class="form-group">
                <label for="fecha">Fecha Final: </label>
                <input type="date" class="form-control" id="fechaOut"
                required>
            </div>
            <button type="submit"  class="btn btn-primary">Search</button>
          </form>
        
    </div>
    <div class="col-sm-12 mt-3" ng-if="resBetween">
        <h1>Lista de registros</h1>
        <div class="row">
            <div class="card ml-2 mr-2 mt-2 mb-2" style="width: 16rem;" ng-repeat="registro in registros">
                <div class="card-body">
                    <h5 class="card-title cardTitle">IS: {{registro.name}}</h5>
                    <p class="card-text">Hora de entrada: {{registro.time_entrada}}</p>
                    <p class="card-text">Hora de entrada: {{registro.time_salida}}</p>
                    <p class="card-text">Hora de entrada: {{registro.fecha}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-3" ng-if="error">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h1>{{mensajeError}}</h1>            
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    </div>
</div>