<div class="container" align="center">
    <div class="row">
        <div class="col-sm-12 mt-5">
            <button class="btn btn-primary" ng-click="getMonth()">
                Get all in one month
            </button>
            <button class="btn btn-primary" ng-click="getBetween()">
                Get all between dates
            </button>
        </div>
    </div>
    <div ng-if="dates" class="margen">
        
        <form class="mt-3 pr-5 pl-5 ml-5 mr-5 col-sm-12" ng-submit="getBetweenDates()" align="center">
            <div class="form-group">
                <label for="month">Start Date: </label>
                <input type="date" class="form-control" id="startDate" required>
            </div>
            <div class="form-group">
                <label for="month">End Date: </label>
                <input type="date" class="form-control" id="endDate" required>
            </div>
            <button type="submit"  class="btn btn-primary">Search</button>
        </form>

        
           
    </div>
    
    <div ng-if="months" class="margen">
        <form class="mt-3 col-sm-12 " ng-submit="getRegistros()" >
            <div class="form-group">
                <label for="month">Month: </label>
                <input type="number" ng-model="month" class="form-control" id="month" min="1" max="12" value="1" required>
            </div>
            <button type="submit"  class="btn btn-primary">Search</button>
            </form>

        
           
    </div>
    <div class="row"  ng-if="resMonths" >
        <div class="card ml-2 mr-2 mt-2 mb-2" style="width: 16rem;" ng-repeat="registro in registros">
            <div class="card-body">
                <h5 class="card-title cardTitle">IS: {{registro.name}}</h5>
                <p class="card-text">Hora de entrada: {{registro.time_entrada}}</p>
                <p class="card-text">Hora de entrada: {{registro.time_salida}}</p>
                <p class="card-text">Hora de entrada: {{registro.fecha}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-3"  ng-if="resDates">
        <h1>Lista de registros</h1>
        <div class="row">
            <div class="card ml-2 mr-2 mt-2 mb-2" style="width: 16rem;" ng-repeat="registro in registros2">
                <div class="card-body">
                    <h5 class="card-title cardTitle">IS: {{registro.name}}</h5>
                    <p class="card-text">Hora de entrada: {{registro.time_entrada}}</p>
                    <p class="card-text">Hora de entrada: {{registro.time_salida}}</p>
                    <p class="card-text">Fecha: {{registro.fecha}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-3" ng-if="error">
        
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h1>{{mensajeError}}</h1>            
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    </div>
</div>